@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family:  "Roboto", sans-serif;
  overflow-y: visible;
  font-weight: 300;
  overflow-x: hidden;
  background-image: url("back.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbaba;
}


.navbar-container{
  position: sticky;
  top: 0;
}

.navbar{
  background-color: #f6f3f3 !important;
  opacity: 1 !important;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
  align-items: center;
  font-size: 18px;
  box-shadow: #6e1d1d 1px 1px;
}

.navbar a{
  cursor: pointer;
  text-decoration: none;
  font-family: "Baskervville", sans-serif;
}

.link:hover{
  color: brown;
}

.link:visited{
  color: black;
}

.link:visited:hover{
  color: brown;
}

.navbar-left, .navbar-right{
  flex: 0 0 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-right{
  flex: 0 0 60%;
}

.button-default{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 36px;
  min-width: 120px;
  height: 35px;
  border-radius: 20px;
}

.cart-button {
  border: #942828 2px solid;
  background: none;
  font-size: 18px;
  font-family: "DM Serif Display", serif;
  justify-self: flex-end;
  color: #942828;
}

.logo{
  /*animation: rotateLogo 2s linear 1; !* Dodaj animację obracającą się logo *!*/
  height: 50px;
  padding: 10px;
  width: 200px;
  line-height: 50px;
  position: absolute;
  font-size: 40px;
  cursor: pointer;
  font-family: "DM Serif Display", sans-serif;
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg); /* Początkowy kąt obrotu */
  }
  to {
    transform: rotate(360deg); /* Końcowy kąt obrotu */
  }
}

.order-button {
  margin: 5px;
  border: none;
  border-bottom: 3px solid red ;
  height: 45px;
  color: white;
  background: none;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
}

.order-button:hover{
  font-size: 34px;
  padding-bottom: 2px;
}

.landing{
  height: calc(90vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("back.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header{
  font-size: 46px;
  margin-bottom: 10px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

.slogan{
  font-size: 28px;
  margin-bottom: 50px;
  font-family: "Baskervville", sans-serif
}

.menu-container{
  min-height: 90vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
  background-image: url("back.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.menu-content{
  padding: 20px;
  flex: 0 0 78%;
  background: white;
}

.button{
  min-width: 100px;
  border-radius: 20px;
  height: 30px;
  background: none;
  border: 1px solid #6e1d1d;
  color: #6e1d1d;
  cursor: pointer;
  font-size: 18px;
  font-family: "DM Serif Display", serif;
}

.button:hover{
  background-color: #6e1d1d;
  color: white;
}

.dish{
  display: flex;
  margin: 10px 10px 10px 10px;
  gap: 20px;
  justify-content: space-between;
  border-bottom: rgba(110, 29, 29, 0.8) 1px solid;
  padding: 10px 0;
}

.dish-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dish-right{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  gap: 10px;
}

.dish-name{
  font-weight: 400;
  justify-self: flex-start;
  font-family: "DM Serif Display", sans-serif;
  font-size: 18px;
}

.menu-categories{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: flex-start;
  flex: 0 0 15%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  flex-grow: 1;
}

.category{
  text-align: center;
  padding: 20px 20px;
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
}

.category:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

/*.category:active{*/
/*  background-color: rgba(255, 255, 255, 0.2);*/
/*}*/


.dish-ingr{
  font-size: 14px;
}

.gallery{
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px;
}

.gallery div{
  cursor: pointer;
  height: 45vh;
  flex-grow: 1;
}

.gallery div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.delivery-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.delivery-small{
  display: flex;
  height: 80%;
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.delivery-left{
  margin: 8% 0;
  flex: 0 0 50%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.delivery-left input{
  width: 40%;
}

.delivery-right{
  flex: 0 0 50%;
  margin: 8% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: Baskervville, sans-serif, serif;
  font-size: 20px;
}

.working-hours{
  flex-grow: 1;
}

.working-hours div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.delivery-right-bottom{
  text-align: center;
  justify-self: flex-end;
  flex-grow: 1;
  margin-top: 10px;
}

.delivery-header{
  justify-self: flex-start;
  font-family: Baskervville,serif;
  font-weight: 500;
  font-size: 32px;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #8c0909;
  margin-bottom: 40px;
}

