@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Platypi:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sedan:ital@0;1&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family:  "Roboto", sans-serif;
  overflow-y: visible;
  font-weight: 300;
  overflow-x: hidden;
  background-image: url("back.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bdbaba;
}


.navbar-container{
  position: sticky;
  top: 0;
}

.navbar{
  background-color: #f6f3f3 !important;
  opacity: 1 !important;
  height: 6vh;
  display: flex;
  justify-content: space-between;
  padding: 15px 15px 15px 15px;
  align-items: center;
  font-size: 18px;
  box-shadow: #6e1d1d 1px 1px;
}

.navbar a{
  cursor: pointer;
  text-decoration: none;
  font-family: "Baskervville", sans-serif;
}

.link:hover{
  color: brown;
}

.link:visited{
  color: black;
}

.link:visited:hover{
  color: brown;
}

.navbar-left, .navbar-right{
  flex: 0 0 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-right{
  flex: 0 0 60%;
}

.button-default{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  line-height: 36px;
  min-width: 120px;
  height: 35px;
  border-radius: 20px;
}

.cart-button {
  border: #942828 2px solid;
  background: none;
  font-size: 18px;
  font-family: "DM Serif Display", serif;
  justify-self: flex-end;
  color: #942828;
}

.logo{
  /*animation: rotateLogo 2s linear 1; !* Dodaj animację obracającą się logo *!*/
  height: 50px;
  padding: 10px;
  width: 200px;
  line-height: 50px;
  position: absolute;
  font-size: 40px;
  cursor: pointer;
  font-family: "DM Serif Display", sans-serif;
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg); /* Początkowy kąt obrotu */
  }
  to {
    transform: rotate(360deg); /* Końcowy kąt obrotu */
  }
}

.order-button {
  margin: 5px;
  border: none;
  border-bottom: 3px solid red ;
  height: 45px;
  color: white;
  background: none;
  cursor: pointer;
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
}

.order-button:hover{
  font-size: 34px;
  padding-bottom: 2px;
}

.landing{
  height: calc(90vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: url("back.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header{
  font-size: 46px;
  margin-bottom: 10px;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
}

.slogan{
  font-size: 28px;
  margin-bottom: 50px;
  font-family: "Baskervville", sans-serif
}

.menu-container{
  min-height: 90vh;
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: fit-content;
  background-image: url("back.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.menu-content{
  padding: 20px;
  flex: 0 0 78%;
  background: white;
}

.button{
  min-width: 100px;
  border-radius: 20px;
  height: 30px;
  background: none;
  border: 1px solid #6e1d1d;
  color: #6e1d1d;
  cursor: pointer;
  font-size: 18px;
  font-family: "DM Serif Display", serif;
}

.button:hover{
  background-color: #6e1d1d;
  color: white;
}

.dish{
  display: flex;
  margin: 10px 10px 10px 10px;
  gap: 20px;
  justify-content: space-between;
  border-bottom: rgba(110, 29, 29, 0.8) 1px solid;
  padding: 10px 0;
}

.dish-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dish-right{
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
  gap: 10px;
}

.dish-name{
  font-weight: 400;
  justify-self: flex-start;
  font-family: "DM Serif Display", sans-serif;
  font-size: 18px;
}

.menu-categories{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  justify-content: flex-start;
  flex: 0 0 15%;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  flex-grow: 1;
}

.category{
  text-align: center;
  padding: 20px 20px;
  font-family: "DM Serif Display", sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 18px;
}

.category:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

/*.category:active{*/
/*  background-color: rgba(255, 255, 255, 0.2);*/
/*}*/


.dish-ingr{
  font-size: 14px;
}

.gallery{
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: 5px;
}

.gallery div{
  cursor: pointer;
  height: 45vh;
  flex-grow: 1;
}

.gallery div img{
  object-fit: cover;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  border-radius: 5px;
}

.delivery-box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 90vh;
}

.delivery-small{
  display: flex;
  height: 80%;
  width: 80%;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-family: Baskervville, sans-serif, serif;
  font-size: 18px;
}

.delivery-left{
  margin: 8% 0;
  flex: 0 0 50%;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.delivery-right{
  flex: 0 0 50%;
  margin: 8% 0;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.working-hours{
  flex-grow: 1;
}

.working-hours div{
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.delivery-right-bottom{
  text-align: center;
  justify-self: flex-end;
  flex-grow: 1;
  margin-top: 10px;
}

.delivery-header{
  justify-self: flex-start;
  font-family: Baskervville,serif;
  font-weight: 500;
  font-size: 32px;
  text-shadow: 0 0 6px rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid #8c0909;
  margin-bottom: 40px;
}

.delivery-cost{
  width: 60%;
  text-align: left;

}

.delivery-info{
  width: 60%;
  margin-top:40px;
  text-align: justify;
}

.alert{
  width: fit-content;
  padding: 15px 80px;
  font-size: 16px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: lightgray;
  position: fixed;
  bottom: 10%;
  left: 40%;
  z-index: 9999;
  animation: fadeIn 1.5s ease-in-out forwards; /* Apply ease-in-out timing function for 2 seconds */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px); /* Slide up animation */
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.cart-overlay{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart{
  width: 24%;
  min-width: 400px;
  min-height: 50%;
  overflow-y: scroll;
  position: fixed;
  top: 25%;
  background-color: #f6f3f3;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.cart-item{
  display: flex;
  justify-content: space-between;
  margin: 2% 6%;
  padding: 15px 5px;
  box-shadow: 2px 2px 2px lightgray ;
  border-radius: 2px;
  color: black;
  font-family: "Baskervville", sans-serif;
}

.total{
  box-shadow: none;
  margin-top: auto;
}

.buttons{
  margin: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.button-form{
  padding: 10px 0;
  border-radius: 3px;
  width: 48%;
  border: 1px solid #6e1d1d;
  background-color: #6e1d1d;
  color: #f6f3f3;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  font-weight: 400;
}

.button-form:hover{
  background-color: rgba(110, 29, 29, 0.8);
}

.add-more{
  background-color: #f6f3f3;
  border: 1px solid #6e1d1d;
  color: #6e1d1d;
  font-weight: 500;
}

.add-more:hover{
  background-color: rgba(211, 211, 211, 0.5);
}

.checkout{
  width: 30%;
  min-width: 400px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  max-height: 80%;
  overflow-y: scroll;
  position: fixed;
  top: 15%;
  background-color: #f6f3f3;
  border-radius: 5px;
 }

.order-form{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  margin-bottom: 20px;
}

.order-form input{
  width: 90%;
  height: 30px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.8);
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 5px;
  align-self: center;
}

.buttons-order-form{
  width: 80%;
  margin-top: auto;
}

.order-form-header{
  font-size: 24px;
  font-family: "Baskervville", sans-serif;
  padding: 5px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

.cart-item-order{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.total-order{
  margin-top: 5px;
  padding-top: 3px;
  border-top: 1px solid rgba(0, 0, 0, 0.8);
  font-weight: 400;
}

.plus-minus-icons:first-child{
  font-size: 22px;
  font-weight: 400;
}

.plus-minus-icons{
  margin-top:5px;
  display: flex;
  gap: 5px;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  align-items: center;
  justify-content: center;
}

.form-label{
  margin-bottom: 5px;
}




/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
  .html{
    width: 100dvw;
    overflow-x: hidden;
  }
  .body{
    width: 100dvw;
  }

  .navbar{
    justify-content: space-between;
    width: 100dvw;
  }

  .landing{
    margin: auto;
    width: 100dvw;

  }

  .gallery{
    width: 100dvw;
    margin: auto;
    align-items: center;
  }

  .menu{
    width: 100dvw;
    margin: auto;

  }

  .delivery-box{
    width: 100dvw;
    margin: auto;
  }

  .navbar-right a {
   display: none;
  }

  .cart {
    width: 90%;
    min-width: unset;
  }

  .delivery-small{
    flex-direction: column;
    height: fit-content;
  }

  .logo{
    width: fit-content;
  }

}